.filterBox{
    width: 924px;
    height: 68px;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 56px;
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.select {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    border-radius: 12px;
    height: 44px;
    /* padding: 0 16px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    border: none;
    background-color: #f7f7f7;
    width: 204px;
}




/* .arrowIcon {
    position: absolute;
    top: 70%;
    right: 16px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.2s ease;
    pointer-events: none;
    fill: rgb(0, 0, 0);
 
}

.selectWrapper:focus-within .arrowIcon {
    transform: translateY(-50%) rotate(180deg); }

.selectPrice{
    width: 196px;
} */

.inputPrice{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    border-radius: 0 12px 12px 0;
    width: 160px;
    height: 44px;
    background-color: #f7f7f7;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    padding: 12px 0 12px 24px;
}

.inputPrice::placeholder{
    color: #101828;
}

.leftInput {
    border-radius: 12px 0 0 12px;
    border-right: 1px solid #dadde1; 
}

.inputGroup {
    display: flex; }

.btnSearch {
    background-color: #3470ff;
    border-radius: 12px;
    padding: 12px 51px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    margin-top: auto;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btnSearch:hover {
    background-color: #0b44cd;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}
