.hero{
    padding-top: 436px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{ 
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 16px;
    opacity: 0;
    animation: slideInLeft 1s forwards;
}

.text{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 40px;
    opacity: 0;
    animation: slideInRight 1s 0.5s forwards;
}

.button {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px 99px;
    background-color: #3470ff;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    transition: transform 0.2s ease, background-color 0.2s ease;
    opacity: 0;
    animation: slideInRight 1s 0.7s forwards;
}

.button:hover{
    background-color: #0b44cd;
}

.wrapper {
    background-image: url("../../assets//Picture1x.webp");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(250px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* ывдалывдлаоыдлваодлыв */
